@media (max-width: 1199px) {
    .container {
        width: 950px;
    }
    .promo {
        padding-bottom: 150px;
    }
    .about {
        &__descr {
            width: 435px;
        }
        &__skills {
            width: 435px;
            grid-template-columns: 260px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 385px);
            column-gap: 110px;
        }
        &__item {
            &-body {
                width: 360px;
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 270px);
            padding-left: 58px;
        }
    }
    .characteristic {
        &__wrapper {
            padding-left: 60px;
            grid-template-columns: repeat(3, 250px);
        }
    }
    .portfolio {
        &__wrapper {
            padding-left: 190px;
        }
    }  
    .contacts {
        &__wrapper {
            grid-template-columns: 400px 400px;
        }
        &__form {
            grid-template-columns: repeat(2, 200px);
        }
        &__input {
            padding-left: 10px;
            &:nth-child(1) {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 700px;
    }
    .title {
        &_fz16 {
            font-size: 14px;
        }
    }
    .lh45 {
        line-height: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 350px 350px;
            column-gap: 40px;
            row-gap: 20px;
        }
        &__descr {
            width: 340px;
        }
        &__skills {
            width: 340px;
        }
        &__text {
            width: 300px;
        }
        &__photo {
            grid-row: 1/3;
            height: 570px;
            img {
                height: 570px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 380px);
            padding-left: 0;
            column-gap: 0;
        }
        &__column {
            width: 300px;
        }
        &__item {
            &-body {
                width: 328px;
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2, 270px);
            padding-left: 73px;
        }
    }
    .characteristic {
        &__wrapper {
            padding-left: 60px;
            grid-template-columns: repeat(2, 280px);
        }
    }
    .portfolio {
        &__wrapper {
            padding-left: 65px;
        }
    }
    .pricelist {
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: repeat(2, 250px);
        }
    }
    .contacts {
        .title {
            &_fz16 {
                font-size: 13px;
            }
            &_fz36 {
                font-size: 30px;
            }
        }
        &__wrapper {
            grid-template-columns: 320px 400px;
            padding-left: 0;
            column-gap: 40px;
        }
        &__form {
            grid-template-columns: repeat(2, 150px);
            grid-template-rows: 45px 100px;
            column-gap: 10px;
            textarea {
                width: 100%;
                height: 100%;
            }

        }
        &__btn {
            font-size: 14px;
            line-height: 14px;
        }
        &__text {
            font-size: 13px;
        }
        &__social {
            img {
                width: 20px;
                height: 20px;
            }
        }
        &__photo {
            img {
                height: 100%;;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 576px;
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 500px;
            grid-template-rows: 70px;
        }
        &__photo {
            margin-left: 130px;
            width: 300px;
            height: 300px;
            border: 1px solid black;
            border-radius: 100%;
            background: url('../img/my.jpg') center (center/cover) no-repeat;
            img {
                display: none;
            }
        }
        &__descr {
            padding-left: 115px;
        }
        &__skills {
            padding-left: 115px;
        }
    }
    .title {
        &_fz48 {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 32px;
            line-height: 40px;
        }
    }
    .pl30 {
       padding-left: 30px;
    }
    .promo {
        &__subtitle {
            &::before {
                left: 20px;
            }
        }
    }
    .resume {
        .container {
            width: 400px;
        }
        &__wrapper {
            grid-template-columns: 400px;
            row-gap: 100px;
        }
        &__subtitle {
            padding-top: 10px;
        }
        .divider {
            margin-top: 10px;
        }
    }
    .skills {
        &__wrapper {
            padding-left: 13px;
        }
    }
    .characteristic {
        &__wrapper {
            padding-left: 13px;
            grid-template-columns: repeat(2, 245px);
        }
    }
    .portfolio {
        &__wrapper {
            padding-left: 35px;
            grid-template-columns: repeat(2, 250px);
        }
    }
    .pricelist {
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: repeat(2, 200px);
        }
    }
    .contacts {
        .divider {
            margin: 0 auto;
        }
        &__wrapper {
            grid-template-columns: 300px;
            padding: 0 140px;
        }
        &__form {
            grid-template-rows: 45px 190px 0;
        }
        &__photo {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 100%;
            background: url('../img/my.jpg') center (center/cover) no-repeat;
            img {
                display: none;
            }
            
        }
        .title {
            &_fz36 {
                text-align: center;
            }
        }
        &__title {
            margin-top: 30px;
            position: relative;
            text-align: center;
            padding: 0;
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__text {
            text-align: center;
        }
        &__social {
            padding-left: 45px;
            a {
                margin-right: 15px;
            }
        }
        &__btn {
            display: block;
            margin-left: 90px;
            width: 120px;
            height: 40px;
            font-size: 12px;
            line-height: 13px;
            padding: 0;
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: 310px;
    }
    .sidepanel {
        display: none;
    }
    .title {
        &_fz48 {
            display: block;
            width: 300px;
            font-size: 26px;
        }
    }
    .promo {
        padding-bottom: 200px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 310px;
            grid-template-rows: 60px;
            width: 310px;
        }
        &__photo {
            border: 1px solid black;
            border-radius: 100%;
            width: 300px;
            height: 300px;
            background: url('../img/my.jpg') center (center/cover) no-repeat;
            margin-left: 5px;
            img {
                display: none;
                // width: 300px;
                // height: 340px;
            }
        }
        &__descr {
            width: 310px;
            padding-left: 10px;
        }
        &__skills {
            width: 310px;
            padding-left: 25px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 15px;
        }
    }
    .resume {
        .container {
            width: 300px;
        }
        .title {
            &_fz16 {
                font-size: 12px;
            }
            &_fz36 {
                font-size: 24px;
                padding-top: 0;
            }
        }
        &__item {
            &-body {
                width: 300px;
            }
        }
        &__wrapper {
            row-gap: 60px;
        }
        .divider {
            margin-top: 5px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(1, 270px);
            padding-left: 20px;
        }
        &__title {
            font-size: 12px;
        }
        &__subtitle {
            padding-top: 10px;
            font-size: 24px;
            line-height: 40px;
        }
        .divider {
            margin-top: 10px;
        }
    }
    .characteristic {
        &__wrapper {
            padding-left: 20px;
            grid-template-columns: repeat(1, 240px);
        }
    }
    .portfolio {
        .title{
            &_fz36 {
                font-size: 24px; 
            }
            &_fz16 {
                font-size: 12px;
            }
        }
        &__wrapper {
            padding-left: 38px;
            grid-template-columns: 230px;
        }
        .divider {
            margin-top: 5px;
        }
    }
    .pricelist {
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: repeat(1, 230px);
        }
        .title {
            &_fz16 {
                font-size: 12px;
            }
        }
    }
    .contacts {
        .divider {
            margin: 0 auto;
        }
        &__wrapper {
            grid-template-columns: 300px;
            padding: 0 10px;
        }
        &__form {
            grid-template-rows: 45px 190px 0;
        }
        &__photo {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 100%;
            background: url('../img/my.jpg') center (center/cover) no-repeat;
            img {
                display: none;
            }
            
        }
        .title {
            &_fz36 {
                text-align: center;
            }
        }
        &__title {
            margin-top: 30px;
            position: relative;
            text-align: center;
            padding: 0;
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__text {
            text-align: center;
        }
        &__social {
            padding-left: 45px;
            a {
                margin-right: 15px;
            }
        }
        &__btn {
            display: block;
            margin-left: 90px;
            width: 120px;
            height: 40px;
            font-size: 12px;
            line-height: 13px;
            padding: 0;
        }
    }
}