.portfolio {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle; 
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(2, minmax (280px, auto));
        gap: 7px;
    }
    &__item {
        transition: 0.6s all;
        &:hover {
            transform: scale(1.02);
        }
        img {
            width: 100%;
        }
    }
}